body {
	background-color: #DBE2EF;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-weight: 500;
	letter-spacing: 1.5px;
	color: #112D4E;
}

h2 {
	font-size: 19px;
	color: #112D4E;
	letter-spacing: 0.5px;
}

h1,h2 {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #3FC1C9;
}

a:hover {
	color: darkgrey;
} 

p {
	color: #3F72AF;
	font-size: 14px;
}

#photo {
	width: 150px;
	border-radius: 50%;
} 

.div-forme {
	margin: 15px;
	padding: 20px;
	background-color: #F9F7F7;
	border-radius: 5%;
	border: 1px solid #112D4E ;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#btn {
	background-color: #3FC1C9;
	color: #F9F7F7;
	padding: 5px;
	border-radius: 5%;
}
#btn:hover {
	background-color: lightgrey;
	color: #3FC1C9 ;
}

#list {
	list-style: none;
	padding-left: 0px;
}

#list li {
	display: inline;
	padding: 25px;
}

#list i {
	font-size: 75px;
}

#list i:hover {
	color: lightgrey;
}

#div1 p {
	padding: 5px;
}



@media (max-width: 800px) {
	.container {
		width: 700px
	}
}

@media (max-width: 500px) {
	.container {
		width: 450px;
	}
}

